<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toboolist</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- Vue  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
  </head>
  <body>
    <header>
      <img id="logo" src="img/logo.png" alt="logo boolean" />
      <span id="logo-text">Toboolist</span>
    </header>
    <main>
      <!-- Vue  -->
      <div id="app">

        <div class="container">
          <!-- Parte Top della Toboolist -->
          <div class="top">
            <!-- Aggiungo l'evento enter all'input  -->
            <input type="text" placeholder="es: Fare la spesa..." v-model="newTask" @keyup.enter="addTask()"/>
            <!-- Aggiungo una selezione dinamica della label -->
            <select v-model = "optionSelezionata">
              <option v-for = "labelCat in labels" :value ="labelCat">{{ labelCat }}</option>
            </select>
            <!-- /Selezione dinamica della label -->
            <button type="button" class="btn btn-filled" @click=" addTask() ">Add Task</button>
          </div>
          <!-- /Fine parte Top -->
          <!-- Tasks -->
          <div class="tasks">
                <!-- Lista di task -->
                <ul class="inner-list">
                  <!-- Task aggiunte dinamicamente -->      
                  <li class="d-flex" :class="{ done: curTask.status }" v-for="(curTask,index) in tasks" @click="checkUncheck(curTask.status, index)" style="cursor: pointer;">
                    <!-- Condizione con check se Task.status TRUE delete Se Negato -->
                    <span class="circle w-10" :class=" {checked : curTask.status , delete : !curTask.status}"></span>
                    <!-- Così viene sbarrata solo lo span con il task e non anche la label -->
                    <span class = "task w-50"> {{ curTask.objTask }} </span> 
                    <span :class="curTask.taskLabel" class="w-20 txt-center"> {{ curTask.taskLabel}} </span>
                    <span class="trash w-10" style="cursor: crosshair;" @click="removeTask(index)"></span>
                  </li>
                  <!-- Fine liste aggiunte dinamicamente -->
                </ul>
                <!-- Fine lista di Task -->
                <div class="mt-10"><button type="button" class="btn btn-filled" @click=" saveList()" style="cursor: pointer;">Salva la lista</button></div>
          </div>
          <!-- /Tasks -->
        </div>
        <!-- /Container -->
      </div>
      <!-- /Vue -->
    </main>
    <script src="./js/script.js"></script>
  </body>
</html>
